@font-face {
    font-family: pokefont;
    src: url('./PokemonSolid.ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
}


:root {
    --poke-font: pokefont;
}

body {
    background-color: #5252529d !important;
}

.poke-img {
    max-width: 400px !important;
}

.margin-10 {
    margin: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.max-width-button {
    max-width: 400px !important;
}

.hover-effect {
    outline: 0px solid #ffffff;
    transition: outline 0.5s ease 0s;
}

.hover-effect:hover {
    outline: 5px solid #000000;
}

.pokefont {
    font-family: var(--poke-font);
}

.git-img {
    object-fit: cover;
    width: 18px;
    margin-right: 8px;
}

.d-non {
    display: none;
}

.padding-3 {
    padding: 3px;
}

.no-copy {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.scale-up-ver-center {
	-webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-out-vertical {
	-webkit-animation: scale-out-vertical 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-vertical 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes scale-out-vertical {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
  }
  @keyframes scale-out-vertical {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
  }
  

@-webkit-keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  @keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }

.big-view-pokemon {
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    position: absolute;
    z-index: 999;
    background-color: white;
    border-radius: 10px !important;
}