@font-face {
    font-family: pokefont;
    src: url('/fonts/pokefont/PokemonSolid.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --nav-font: pokefont;
}

.poke-img {
    max-width: 400px !important;
}

.margin-10 {
    margin: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.max-width-button {
    max-width: 400px !important;
}

.hover-effect {
    outline: 0px solid #ffffff;
    transition: outline 0.5s ease 0s;
}

.hover-effect:hover {
    outline: 5px solid #000000;
}

.pokefont {
    font-family: var(--nav-font);
}